body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora {
    background-color: #08e6b5;
    padding: 25px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
h2 {
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #2196f3;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #1976d2;
}
.resultado {
    margin-top: 15px;
    font-size: 16px;
    text-align: left;
}
